replicaCount: 1  
  
image:  
  repository: andriiuni/spam2000  
  tag: "1.1394.355"  
  pullPolicy: IfNotPresent  
  
service:  
  type: ClusterIP  
  port: 8080  
  
metrics:  
  enabled: true  
  port: 8080  
  path: /metrics 
  
resources: {}  
nodeSelector: {}  
tolerations: []  
affinity: {}  
