server:  
  # вимикаємо TLS всередині кластера, щоб можна було просто робити port-forward  
  extraArgs:  
    - --insecure  
  
  service:  
    type: ClusterIP  
  
  ingress:  
    enabled: false  
  
dex:  
  enabled: false  
  
configs:  
  params:  
    server.insecure: "true"  
